/* general classes start */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
  min-width: 320px;
  max-width: 1158px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.section {
  padding: 96px 0;
}

.section-main-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* general classes end */

/* header-styles stars*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px;
  padding: 17px 0;
}

.logo > .logo-span {
  color: #2e2f42;
}

nav .nav-menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: flex;
  gap: 40px;
}

nav .nav-menu .page-link {
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.navigation .nav-menu .nav-item .page-link {
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .nav-menu .nav-item .page-link.current {
  position: relative;
  color: #404bbf;
}

.navigation .nav-menu .nav-item .page-link.current::after {
  content: "";

  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;

  position: absolute;
  left: 0;
  bottom: -1px;
}

nav .nav-menu .page-link:hover,
nav .nav-menu .page-link:focus,
nav .nav-menu .page-link:active {
  color: #404bbf;
}

.mobile-nav-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .company-contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.company-contacts .contacts-menu {
  display: flex;
  gap: 40px;
}

.company-contacts .contacts-menu .contact {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-contacts .contacts-menu .contact:hover,
.company-contacts .contacts-menu .contact:focus {
  color: #404bbf;
}

/* main-block-styles start*/
/* introduction-section */
.introduction-section {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-section-img/mobile-verison-1st_section-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.introduction-section .page-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin: 0 auto;
  max-width: 496px;
  text-align: center;
}

.introduction-section .order-service-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;

  min-width: 169px;
  height: 56px;
  margin: 72px auto 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.introduction-section .order-service-button:hover,
.introduction-section .order-service-button:focus {
  background-color: #404bbf;
}

/* advantages-section */
.advantages {
}

.advantages.section .adv-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.advantages.section .adv-list .adv-list-item {
  margin: 0 auto;
  min-width: 288px;
}

.adv-item-icon-cont {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.adv-list-item .item-title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.adv-list-item .item-text {
  font-weight: 500;
}

/* team-section*/
.team.section {
  background-color: #f4f4fd;
}

.team.section .section-main-title {
  text-align: center;
  margin-bottom: 72px;
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.team.section .team-cards-list .member-card {
  min-width: 264px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team.section .team-cards-list .member-card .member-info {
  padding: 32px 0;
}

.team.section .team-cards-list .member-card .member-info .item-title {
  margin-bottom: 8px;
  text-align: center;
}

.team.section .team-cards-list .member-card .member-info .item-text {
  text-align: center;
}

.team.section .member-card .member-photo {
}
.team.section .member-card .item-title {
  text-align: center;
}

.team.section .member-card .item-text {
  text-align: center;
}

.team.section .member-card .member-networks-container {
  margin-top: 8px;
}

.team.section .member-card .social-networks-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-networks-list .social-network-list-item {
  width: 40px;
  height: 40px;
}

.social-networks-list .social-network-list-item .nw-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list .social-network-list-item .nw-item-link:hover,
.social-networks-list .social-network-list-item .nw-item-link:active,
.social-networks-list .social-network-list-item .nw-item-link:focus {
  background-color: #404bbf;
}

.nw-item-link .sociwal-networks-list-icon {
  fill: #f4f4fd;
}

/* portfolio section */
.portfolio.section {
}

.portfolio.section .projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio.section .project-card {
  min-width: 288px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio.section .project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card-img-container {
  overflow: hidden;
}

.project-hidden-text {
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio.section .project-card:hover .project-hidden-text {
  transform: translateY(0);
}

.project-card-img-container {
  position: relative;
}

.portfolio.section .section-main-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio.section .project-card .project-preview {
}

.portfolio.section .project-card .project-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio.section .project-card .project-description .item-title {
  margin-bottom: 8px;
}

/* footer*/
.footer.section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer.section .logo-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer.section .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}

.logo-cont .item-text {
  align-self: flex-start;
}

.footer.section .logo > span {
  color: #f4f4fd;
}

.footer.section .item-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer.section .social-media-footer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer.section .social-media-footer-cont .item-text {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-social-media-list .social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-list-item .social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-item .social-media-link:hover,
.social-media-list-item .social-media-link:active,
.social-media-list-item .social-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-media-icon {
  fill: #f4f4fd;
}

.subscribe-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer.section .subscribe-form-container .item-text {
  font-weight: 500;
  color: #ffffff;
}

.subscribe-form-container .subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-form .email-label {
}

.subscribe-form .email-field {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form .email-field::placeholder {
  color: #ffffff;
}

.subscribe-form .subscribe-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;

  width: 165px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  padding: 72px 24px 24px 24px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:active,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover .close-button-icon,
.close-button:active .close-button-icon,
.close-button:focus .close-button-icon {
  fill: #ffffff;
}

.modal-window-title {
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-window-label {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-cont {
  margin-bottom: 8px;
}

.input-field-cont {
  position: relative;
}

.input-field {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #8e8f99;
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover,
.input-field:focus,
.input-field:active {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover + .input-icon,
.input-field:active + .input-icon,
.input-field:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-window .input-cont:nth-child(4) {
  margin-bottom: 16px;
}

.user-comment {
  height: 120px;
  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.privacy-checkbox-cont {
  margin-bottom: 24px;
}

.checkmark-icon-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkmark-icon-box .checkmark-icon {
}

.checkbox-input:checked + .modal-window-label .checkmark-icon-box {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-window .submit-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
}

.modal-window .submit-form-button:hover {
  background-color: #404bbf;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .company-contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .mobile-nav-menu-container {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
